<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1008379-16', 'sipjs.com');
  ga('send', 'pageview');
</script>
<script>
  // Remove all 'no-js-hide' classes because Javascript is working
  $(function () {
      $('.no-js-hide').each(function (i, e) {
          $(e).removeClass('no-js-hide');
      });
      $('.no-js-block').each(function (i, e) {
          $(e).removeClass('no-js-block');
      });
  });
</script>

<!-- Start Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push(
{qacct:"p-WYGLU06W2MTuE",labels:"_fp.event.SIPjs Homepage"}
);
</script>
<noscript>
<img src="//pixel.quantserve.com/pixel/p-WYGLU06W2MTuE.gif?labels=_fp.event.SIPjs+Homepage" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag -->
